.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
}
.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

/*
* sidebar
*/

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(247, 247, 247, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.icon {
    cursor: pointer;
    color: white;
    font-size: 32px;
    width: 42px;
}

.link {
    position:absolute;
    bottom:0;
    right: 25px;
}

.link, .link a {
    width: 100%;
    white-space: nowrap;
}

/*Components*/
.more-button{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    color: #f7f7f7;
}

.button-section{
    flex: none;
}

/*Offers*/
.page-name {
    text-align: left;
    margin: 33px 0 0 30px;
}

.page-intro{
    text-align: left;
    font-size: 42px;
    line-height: 52px;
    margin: 35px 0 0 30px;
}

.icon-card{
    display: flex;
    flex-direction: row;
    background: rgba(247, 247, 247, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 15px 30px;
}

.icon-card-text{
    padding: 20px 20px 6px 14px;
    text-align: left;
}

.ellipse{
    background: radial-gradient(50% 50% at 50% 50%, #B08D57 0%, rgba(156, 122, 60, 0.95) 31.77%, rgba(137, 94, 26, 0.95)
    68.75%, #804A00 100%);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
