.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, 0);
    height: 0px;
}

/*
* Landing page title
*/

.display-1 {
    color: #FFFFFF;
}

/*
* sidebar
*/

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(247, 247, 247, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #212529;
    display: block;
    transition: 0.5s;
}

.sidebar a:hover {
    color: blue;
}

/* The button used to trigger the sidebar */
.icon {
    cursor: pointer;
    color: white;
    font-size: 32px;
    width: 42px;
}

.icon-drone {
    fill: white;
}

.bi-x {
    color: #212529;
}

/* The links in the Sidebar*/
.link {
    position:absolute;
    bottom:0;
    right: 25px;
}

.link, .link a {
    width: 100%;
    white-space: nowrap;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
