/*Fonts*/
@font-face {
    font-family: 'signikabold';
    src: url('fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunitoregular';
    src: url('fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Font Styles*/
h1 {
    font-family: signikabold;
    font-size: 4rem;
    font-weight: bold;
    line-height: 79px;
    color: #f7f7f7;
}

h2 {
    font-family: signikabold;
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 52px;
    color: #f7f7f7;
    margin-bottom: 15px;
}

h3 {
    font-family: signikabold;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
}

h4 {
    font-family: nunitoregular;
    font-size: 1.5rem;
    line-height: 33px;
    color: #f7f7f7;
}

p {
    font-family: nunitoregular;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
}

html, body, main {
    height: 100%;
    margin: 0;
}

/*Custom translucent site header*/
.site-header {
    background-color: rgba(0, 0, 0, 0);
    height: 0px;
}


/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(247, 247, 247, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    transition: 0.5s;
}

.sidebar a:hover {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

/* The button used to trigger the sidebar */
.icon {
    cursor: pointer;
    color: white;
    font-size: 42px;
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

.icon-drone {
    fill: white;
}

.bi-x {
    color: #212529;
}

/* The links in the Sidebar*/
.link {
    font-family: nunitoregular;
    font-size: 24px;
    line-height: 33px;
    position:absolute;
    bottom:0;
    right: 25px;
}

.link, .link a {
    width: 100%;
    white-space: nowrap;
}

/*Components*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    transform: translateX(calc((100% - 100vw) / 2));
}

body, html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.drone-logo {
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
}

.wrapper {
    flex:1 1 auto;
    flex-direction: column;
    min-height: 100vh;
    scroll-snap-align: start;
}

.contact-button {
    font-family: nunitoregular;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    color: #000;
}

.more-button, #show {
    font-family: nunitoregular;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    color: #f7f7f7;
    padding: 15px;
}

.more-button:hover {
    color: #f7f7f7;
    background: rgba(0, 0, 0, 1);
}

.plus-button-icon {
    width: 21px;
    height: 21px;
    margin-right: 15px;
}

#welcome {
    display: flex;
    align-items: center;
    height: 65vh;
}

.page-intro {
    font-family: signikabold;
    font-size: 42px;
    line-height: 79px;
}

.page-name {
    font-family: nunitoregular;
    font-size: 24px;
    line-height: 33px;;
    text-align: left;
    margin: 30px 0;
}

.page-title {
    margin: 30px 0 35px 30px;
}

.card-default {
    font-family: nunitoregular;
    color: #000000;
    background: rgba(247, 247, 247, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.text-intro {
    font-family: nunitoregular;
    font-size: 18px;
    margin: 15px 30px 25px 30px;
    padding: 20px;
}

.video {
    display: flex;
    justify-content: center;
}

.card-text{
    text-align: left;
    padding-top: 30px;
}

.picture-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.picture-small {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

/*Contact*/
.contact-icon {
    padding: 20px;
}

.icon-style {
    width: 50px;
    height: 50px;
}

/*
 * media queries
 */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }

    #welcome {
        height: 60vh;
    }
}


@media (min-width: 768px) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    #welcome {
        height: 65vh;
    }
}

@media (min-width: 992px) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    #welcome {
        height: 65vh;
    }
}

@media (min-width:1200px) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        height: unset;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    #welcome {
        height: 70vh;
    }

    .carousel {
        padding: 0 200px
    }
}

/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}

/*drone svg animation*/

.icon-container {
    /*margin-top: 30%;*/
}

#eBFgsAjHTPf1 {
    width: 45%;
    height: 45%;
}

#eBFgsAjHTPf3_to {
    animation: eBFgsAjHTPf3_to__to 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf3_to__to {
    0% {
        transform: translate(27.64335px, 36.595277px);
    }
    100% {
        transform: translate(28.245854px, 27.077652px);
    }
}

#eBFgsAjHTPf3_tr {
    animation: eBFgsAjHTPf3_tr__tr 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf3_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2160deg);
    }
}

#eBFgsAjHTPf5_to {
    animation: eBFgsAjHTPf5_to__to 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf5_to__to {
    0% {
        transform: translate(27.64335px, 36.595277px);
    }
    100% {
        transform: translate(28.245854px, 27.077652px);
    }
}

#eBFgsAjHTPf5_tr {
    animation: eBFgsAjHTPf5_tr__tr 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf5_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2160deg);
    }
}

#eBFgsAjHTPf7_to {
    animation: eBFgsAjHTPf7_to__to 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf7_to__to {
    0% {
        transform: translate(29.518464px, 99.07362px);
    }
    100% {
        transform: translate(30.120968px, 89.555995px);
    }
}

#eBFgsAjHTPf7_tr {
    animation: eBFgsAjHTPf7_tr__tr 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf7_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2160deg);
    }
}

#eBFgsAjHTPf9_to {
    animation: eBFgsAjHTPf9_to__to 3000ms linear infinite alternate forwards;
}

@keyframes eBFgsAjHTPf9_to__to {
    0% {
        transform: translate(31.729168px, 99.014346px);
    }
    100% {
        transform: translate(32.331673px, 89.496721px);
    }
}
#eBFgsAjHTPf9_tr {
    animation: eBFgsAjHTPf9_tr__tr 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf9_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2160deg);
    }
}
#eBFgsAjHTPf11_to {
    animation: eBFgsAjHTPf11_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf11_to__to {
    0% {
        transform: translate(97.634339px, 98.57504px);
    }
    100% {
        transform: translate(98.236844px, 89.057415px);
    }
}
#eBFgsAjHTPf11_tr {
    animation: eBFgsAjHTPf11_tr__tr 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf11_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2160deg);
    }
}
#eBFgsAjHTPf13_to {
    animation: eBFgsAjHTPf13_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf13_to__to {
    0% {
        transform: translate(97.634339px, 98.57504px);
    }
    100% {
        transform: translate(98.236844px, 89.057415px);
    }
}
#eBFgsAjHTPf13_tr {
    animation: eBFgsAjHTPf13_tr__tr 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf13_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2160deg);
    }
}
#eBFgsAjHTPf15_to {
    animation: eBFgsAjHTPf15_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf15_to__to {
    0% {
        transform: translate(98.85937px, 36.596199px);
    }
    100% {
        transform: translate(99.461875px, 27.078574px);
    }
}
#eBFgsAjHTPf15_tr {
    animation: eBFgsAjHTPf15_tr__tr 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf15_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2160deg);
    }
}
#eBFgsAjHTPf17_to {
    animation: eBFgsAjHTPf17_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf17_to__to {
    0% {
        transform: translate(98.85937px, 35.283578px);
    }
    100% {
        transform: translate(99.461875px, 25.765953px);
    }
}
#eBFgsAjHTPf17_tr {
    animation: eBFgsAjHTPf17_tr__tr 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf17_tr__tr {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-2160deg);
    }
}
#eBFgsAjHTPf19_to {
    animation: eBFgsAjHTPf19_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf19_to__to {
    0% {
        transform: translate(1.418265px, 115.551728px);
    }
    100% {
        transform: translate(2.02077px, 106.034103px);
    }
}
#eBFgsAjHTPf21_to {
    animation: eBFgsAjHTPf21_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf21_to__to {
    0% {
        transform: translate(4.230223px, 12.447479px);
    }
    100% {
        transform: translate(4.832727px, 2.929854px);
    }
}
#eBFgsAjHTPf23_to {
    animation: eBFgsAjHTPf23_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf23_to__to {
    0% {
        transform: translate(4.647407px, 13.471381px);
    }
    100% {
        transform: translate(5.249912px, 3.953756px);
    }
}
#eBFgsAjHTPf25_to {
    animation: eBFgsAjHTPf25_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf25_to__to {
    0% {
        transform: translate(1.028326px, -47.325182px);
    }
    100% {
        transform: translate(1.63083px, -56.842807px);
    }
}
#eBFgsAjHTPf27_to {
    animation: eBFgsAjHTPf27_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf27_to__to {
    0% {
        transform: translate(5.458054px, 13.674579px);
    }
    100% {
        transform: translate(6.060558px, 4.156954px);
    }
}
#eBFgsAjHTPf29_to {
    animation: eBFgsAjHTPf29_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf29_to__to {
    0% {
        transform: translate(5.458054px, 13.674579px);
    }
    100% {
        transform: translate(6.060558px, 4.156954px);
    }
}
#eBFgsAjHTPf31_to {
    animation: eBFgsAjHTPf31_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf31_to__to {
    0% {
        transform: translate(5.458054px, 13.674579px);
    }
    100% {
        transform: translate(6.060558px, 4.156954px);
    }
}
#eBFgsAjHTPf33_to {
    animation: eBFgsAjHTPf33_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf33_to__to {
    0% {
        transform: translate(5.458054px, 13.674579px);
    }
    100% {
        transform: translate(6.060558px, 4.156954px);
    }
}
#eBFgsAjHTPf35_to {
    animation: eBFgsAjHTPf35_to__to 3000ms linear infinite alternate forwards;
}
@keyframes eBFgsAjHTPf35_to__to {
    0% {
        transform: translate(5.458054px, 13.674579px);
    }
    100% {
        transform: translate(6.060558px, 4.156954px);
    }
}